{{!-- src/templates/layouts/base.hbs --}}
<!doctype html>
<html lang="en">

<head>
  {{> meta}} {{!-- title, description, canonical from data/page --}}
  <link rel="stylesheet" href="{{site.base}}/assets/css/main.css">
</head>

<body>
  <a class="skip-link" href="#main">Skip to content</a>

  {{> header site=site}}

  <main id="main" tabindex="-1">
    {{> @partial-block}} {{!-- ⟵ This yields the page content --}}
  </main>

  {{> footer site=site}}

  <script type="module" src="{{site.base}}/assets/js/main.js"></script>
</body>

</html>
