<!doctype html>
<html lang="en">

<head>
  {{> meta}}
  <link rel="stylesheet" href="{{site.base}}/assets/css/main.css">
</head>

<body>
  {{> nav}}

  {{> hero}} {{!-- Hero now renders on every page --}}

  <main id="main" tabindex="-1">
    {{{body}}}
  </main>

  {{> footer}}

  <script type="module" src="{{site.base}}/assets/js/main.js"></script>
</body>

</html>